<html>
    <head>
        <title>Rutas Aereas</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
        <link rel="stylesheet" type="text/css" href="styles/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body ng-app="mapApp" ng-controller="mapCtrl as app">
        <div class="container-fluid">
            <div class="row">
                
                <!---------OPCIONES------------/-->
                <div class="col-md-{{colMenu}}">

                    <a href="#" ng-click="colMenu=4" ng-show="(colMenu == 1)" class="btnMenu" ><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
                    <a href="#" ng-click="colMenu=1" ng-show="(colMenu > 1)" class="btnCerrar" ><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>

                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" ng-show="(colMenu > 1)">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <strong>Aeropuertos</strong>
                            </a>
                        </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul ng-repeat="aeropuerto in destinos" class="aeropuertos">
                                <li><a href="#" ng-click="viewAirport(aeropuerto.iata,aeropuerto.lat, aeropuerto.lng)">{{getName(aeropuerto.iata)}} ({{aeropuerto.iata}})</a></li>
                            </ul>
                        </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <span style="color:#FF0000">&block;</span>
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <strong>Andes</strong>
                            </a>
                            
                        </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <ul ng-repeat="ruta in rutas['Andes']" class="aeropuertos">
                                <li><a href="#" ng-click="viewRoute('Andes', $index)"><span ng-repeat="aeropuerto in ruta">{{getName(aeropuerto)}}</span></a></li>
                            </ul>
                        </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <span style="color:#00FF00">&block;</span>
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <strong>Alas del sur </strong>
                            </a>
                        </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <ul ng-repeat="ruta in rutas['Alas del Sur']" class="aeropuertos">
                                <li><a href="#" ng-click="viewRoute('Alas del Sur', $index)"><span ng-repeat="aeropuerto in ruta">{{getName(aeropuerto)}}</span></a></li>
                            </ul>
                        </div>
                        </div>
                    </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <span style="color:#0000FF">&block;</span>
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <strong>American Jet</strong>
                                </a>
                            </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <ul ng-repeat="ruta in rutas['American']" class="aeropuertos">
                                    <li><a href="#" ng-click="viewRoute('American', $index)"><span ng-repeat="aeropuerto in ruta">{{getName(aeropuerto)}}</span></a></li>
                                </ul>
                        </div>
                        </div>
                    </div>
                    </div>  


                </div>

                <!---------MAPA------------/-->
                <div class="col-md-{{12 - colMenu}}">
                    <div class="map">
                        <div id="map-canvas"></div>   
                    </div>                    
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key= AIzaSyCvzWscengQ1ItOtYVWjldACDm7jBH3o7I &v=3.exp&libraries=geometry"></script>
        <script src="js/googleMapMarkers.js"></script>
         
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
        <script src="./js/mapa.js"></script>
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-93944484-1', 'auto');
        ga('send', 'pageview');

        </script>        
    </body>
</html>