<html>
    <head>
        <title>googleMapMarkers</title>
        <link rel="stylesheet" type="text/css" href="styles/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style>
            .aeropuertos li{
                list-style: none;
            }
            .aeropuertos span{
                display: inline;
                padding-left: 5px;
            }
        
        </style>
    </head>
    <body ng-app="mapApp" ng-controller="mapCtrl as app">
        <div class="container-fluid">
            <div class="row">
                
                <!---------OPCIONES------------/-->
                <div class="col-md-4">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Aerolineas</a></li>
                        <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Aeropuertos</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab1">

                            <h2>Andes</h2>
                            <ul ng-repeat="ruta in rutas['Andes']" class="aeropuertos">
                                <li><span ng-repeat="aeropuerto in ruta">{{getName(aeropuerto)}}</span></li>
                            </ul>

                            <h2>Alas del sur</h2>
                            <ul ng-repeat="ruta in rutas['Alas del Sur']" class="aeropuertos">
                                <li><span ng-repeat="aeropuerto in ruta">{{getName(aeropuerto)}}</span></li>
                            </ul>                            
                  

                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab2">
                            <ul>
                                <li ng-repeat="destino in destinos">{{destino.title}} ({{destino.iata}})</li>
                            </ul>                             
                            
                        </div>
                    </div>
                </div>

                <!---------MAPA------------/-->
                <div class="col-md-8">
                    <div class="map">
                        <div id="map-canvas"></div>   
                    </div>                    
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key= AIzaSyCvzWscengQ1ItOtYVWjldACDm7jBH3o7I &v=3.exp&libraries=geometry"></script>
        <script src="js/googleMapMarkers.js"></script>
        <script src="js/destinos.js"></script>        
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
        <script src="./js/mapa.js"></script>
    </body>
</html>